.main_logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_logo img {
  height: 390px;
}
.h1 {
  text-align: center;
  background: linear-gradient(90deg, red, blue);
  background-clip: text;
  color: transparent;
}
